<div class="container">
<h1>Team Info</h1>
<table class="table table-condensed">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Project</th>
                <th>Skills</th>
                <th>Email Id</th>
                <th>contact</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle rounded-pill">
                <td>1234</td>
                <td>Neethu</td>
                <td>Justin</td>
                <td>FHIR</td>
                <td>Angular</td>
                <td >neethu.justin@ust.com</td>
                <td>xxxxxxxxxx</td>
                <td>+</td>

            </tr>
            <tr class="hiddenRow" >
                <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="demo1"> Demo1 </div> </td>
            </tr>
            <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                    <td>1234</td>
                    <td>Neethu</td>
                    <td>Justin</td>
                    <td>FHIR</td>
                    <td>Angular</td>
                    <td >neethu.justin@ust.com</td>
                    <td>xxxxxxxxxx</td>
                    <td>+</td>
            </tr>
            <tr>
                <td colspan="12" class="hiddenRow"><div id="demo2" class="accordian-body collapse">
                        <ul  class="list-unstyled row">

                                <li class="list-item col-3"> <b>Mobile No:</b>fdsfds</li>
                                <li class="list-item col-3"><b>Gender:</b>fdsfds</li>
                                <li class="list-item col-12"><b> Location :</b>fdsfds</li>
                                <li class="list-item col-3"><b>Tech Stack:</b>fdsfds</li>






                                <li class="list-item col-3"><b>Project:</b>fdsfds</li>

                                <li style="display: inline-table;"class="list-item col-12">
                                    <p><b>Skills:</b></p>
                                    
                                    <span  class="skill">fdsfds</span></li>


                                
                            </ul>    
                </div></td>
            </tr>
            <tr data-toggle="collapse" data-target="#demo3" class="accordion-toggle">
                    <td>1234</td>
                    <td>Neethu</td>
                    <td>Justin</td>
                    <td>FHIR</td>
                    <td>Angular</td>
                    <td >neethu.justin@ust.com</td>
                    <td>xxxxxxxxxx</td>
                    <td>+</td>

            </tr>
            <tr>
                <td colspan="12"  class="hiddenRow"><div id="demo3" class="accordian-body collapse">Demo3</div></td>
            </tr>
        </tbody>
    </table>
    
</div>